.history-section {
  flex-grow: 1;
  background-color: #ddd;
  padding: 10px;
  height: 300px; /* Added fixed height */
}

.history-section ul {
  height: 250px; /* Set desired fixed height */
  overflow-y: scroll;
  padding-inline-start: 0px;
}
