.pipeline-section {
  flex-grow: 1;
  height: 100%; /* Added fixed height */
  width: 100%;
  min-width: 20px;
}

.pipeline-section ul {
  height: 80%; /* Set desired fixed height */
  overflow-y: scroll;
  padding-inline-start: 0px;
}
