.pipeline-section {
  flex-grow: 1;
  height: 100%; /* Added fixed height */
  width: 100%;
  min-width: 20px;
}

.pipeline-section ul {
  height: 80%; /* Set desired fixed height */
  overflow-y: scroll;
  padding-inline-start: 0px;
}

.pipeline-section .source {
  margin: auto;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  width:40%;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
}

.pipeline-section .vertical-separator {
  margin: auto;
  content:””;
  top:80%;
  height: 30px;
  width: 3px;
  left:55px;
  border-right: 3px solid black;
}