.sidebar {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.pipeline-section {
  flex-grow: 1;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.outline-section {
  background-color: #eee;
  padding: 10px;
}
