.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-content {
  height: 90vh;
  width: 90vw;
}

.modal-content {
  background-color: #ddd;
  opacity: 0.9;
  position: absolute;
  top: 40%;
  left: 40%;
  margin: auto;
  height: 300px;
  width: 300px;
}

.modal-content h2 {
  margin-left: 30px;
}

.modal-content .Mui-selected {
  background-color: #ddf !important;
}

.modal-content ul {
  background-color: #fff;
  overflow-y: scroll;
  height: 140px;
}

.modal-content button {
  background-color: #fff;
}


.flexlayout__layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.flexlayout__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flexlayout__tab_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flexlayout__tab_button_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flexlayout__tab_button_trailing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flexlayout__tab_button_leading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flexlayout__tab_button_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flexlayout__tab_button_close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flexlayout__tab_button_more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar {
  min-width: 300px;
  width: 30%;
  background-color: #fff;
}